atacseq/
cr_resources/
monocle_resource/
monocle_results/
raw/
scenic_resource/
scenic_results/
data/
plots/
diffexp/
cellchat/
markers/
notebooks/.ipynb_checkpoints/
notebooks/*/.ipynb_checkpoints/
notebooks/sctools/__pycache__/
notebooks/sctools/plot/__pycache__/
