data/
plots/
diffexp/
cellchat/
markers/
fastqs/
notebooks/.ipynb_checkpoints/
notebooks/*/.ipynb_checkpoints/
notebooks/sctools/__pycache__/
notebooks/sctools/plot/__pycache__/
scenic_*/
cr_resources/*/*.xlsx
